
.grid-module {
  display: grid;
}

.table-module {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.table-row {
  display: grid;
  grid-template-columns: 200px 1fr;
  border: 1px solid gray;
  margin-bottom: -1px;
  padding: 10px;
}


.moveable-module {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.submit--container {
  background-color: rgb(234, 236, 240);
  border: 1px solid gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  row-gap: 10px;
}


.submit--summary {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.submit--options {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.submit--options > input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.submit--container > button {
  width: 100%;
}

.submit--buttons {
  display: flex;
  column-gap: 10px;
}

.submit--buttons button {
  font-weight: bold;
}

.cancel-button {
  background-color: rgba(0,0,0,0);
  border: none;
  color: #d33;
}

.cancel-button:hover {
  color: #ff4242;
  background-color: rgba(0,24,73,0.03);
}

.editor--container {
  display: flex;
  flex-direction: column;
}

.header--container {
  display: flex;
}

.header--title {
  margin-right: auto;
}

.question-mark {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.four-arrows {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}