:root {
  --top-bar-height: 50px;
  --top-bar-padding: 10px;
  --side-bar-width: 100px;
  --input-width: 100px;
  --top-distance: calc(var(--top-bar-height) + 2 * var(--top-bar-padding));
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 50px;
  padding: 10px 0;
  margin-bottom: 20px;
}

.middle {
  display: flex;
}

button {
  cursor: pointer;
  background-color: rgb(248, 249, 250);
  min-height: 32px;
  border: 1px solid gray;
  border-radius: 2px;
}


.blue-button {
  background-color: rgb(29, 88, 214);
  color: white;
}

.blue-button:hover {
  background-color: rgb(29, 122, 214);
}

.green-button {
  background-color: rgb(43, 185, 53);
  color: white;
}

.green-button:hover {
  background-color: rgb(51, 214, 29);
}

.red-button {
  background-color: rgb(176, 43, 43);
  color: white;
}

.red-button:hover {
  background-color: rgb(244, 65, 65);
}

.bold {
  font-weight: bold;
}

select {
  min-height: 32px;
  cursor: pointer;
  padding: 5px;
}

button:hover {
  background-color: white;
}

* {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #3366cc;
  background: none;
}

a:visited {
  color: #795cb2;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  row-gap: 20px;
  padding: 0 40px;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-container {
  display: flex;
  height: 50px;
  width: 100%;
  padding: 8px 0;
  align-items: center;
}

.header--aside {
  display: flex;
  width: 280px;
}

.menu-img {
  width: 18px;
  height: 15px;
  padding: 17px 14px;
  transition-property: background-color;
  transition-duration: 0.2s;
  margin-right: 12px;
}

.icon-img:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.search-outline {
  box-sizing: border-box;
  height: 32px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.searchbar {
  height: 100%;
  position: relative;
  margin-left: 24px;
  height: 32px;
  display: flex;
  align-items: center;
  align-self: center;

  border: 1px solid gray;
  border-radius: 2px;

  margin-right: auto;
}

img {
  user-select: none;
}

.searchbar > img {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-right: 8px;
  z-index: 1000;
}

input {
  height: 32px;

  box-sizing: border-box;
  border: solid 1px gray;
  border-radius: 2px;
  transition: border 0.1s;
  text-indent: 5px;
}

.searchbar input {
  border: none;
  width: 400px;
  text-indent: 35px;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-right: 70px;
}

input:focus {
  outline: none;
  box-shadow: inset 0px 0px 3px #3366cc;
}

.user-area {
  align-self: center;
}

.user-area > div {
  display: flex;
  align-items: center;
  column-gap: 20px;
  position: relative;
}

.user-options {
  position: absolute;
  top: 100%;
  width: 200px;
  padding: 10px 0;
  right: 0px;
  border: solid 1px gray;
  box-shadow: 1px 1px 5px gray ;
}

.logout-img {
  width: 15px;
  height: 16.7px;
}

.login-img {
  width: 15px;
  height: 15px;
}

.user-options > a {
  position: relative;
  width: 100%;
  cursor: pointer;
  display: flex;
}

.user-options > a > img {
  position: absolute;
  left:10px;
}

.user-options > a > span {
  padding-left: 40px;
} 

.page-content-body {
  margin-bottom: auto;
}

.category--footer {
  display: flex;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid gray;
  font-size: 14px;
}

.category--links {
  display: flex;
}

.category--links > a {
  border-left: 1px solid gray;
}

.user-imgs {
  display: flex;
  position: relative;
  padding: 10px;
  align-items: center;
}

.user-imgs:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.user-icon {
  width: 20px;
  height: auto;
  right: 20px;
  margin-right: 5px;
}

.user-arrow {
  top: 50%;
  width: 10px;
  height: 5.46px;
  right: 0px;
}

.category--links > a:first-child {
  border: none;
  margin-left: 14px;
}

.searchbar > button {
  border-radius: 0;
  box-sizing: content-box;
  position: absolute;
  height: 32px;
  right: 0;
  width: 70px;
  color: white;
  background-color: white;
  border: none;
  font-weight: bold;
  padding: 0;

  transition-property: color, border-color, background-color;
  transition-duration: 0.3s;
  clip-path: polygon(94% 0, 100% 54%, 94% 100%, 0 100%, 0 0);
}

.searchbar:hover > button, .searchbar:focus-within > button {
  color: black;
  background-color: #f8f9fa;
  border-left: 1px solid gray;
}

.searchbar > button:hover {
  background-color: white;
}

.ellipsis-img {
  width: 20px;
  padding: 20px 15px;
}

.sidebar {
  width: 150px;
  height: 50px;
  padding: 30px 19px 12px 30px;
  margin-left: 12px;
  margin-right: 60px;
  background-color: #f8f9fa;
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  min-height: 70vh;
  padding-bottom: 50px;
  border-bottom: 1px solid gray;
}

.page-title {
  font-family: "Linux Libertine";
  font-size: 1.8em;
  font-weight: normal;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;

  border-bottom: 0.5px solid gray;
  width: 100%;
}

.medium-size {
  font-size: 1.5em;
}

.content--body {
  display: flex;
  flex-direction: column;
}

.content--body:nth-child(2) {
  width: 100%;
}

.logo:hover {
  text-decoration: none;
}

.hidden {
  display: none;
}

.footer {
  padding-top: 5px;
  color: black;
  text-align: right;
}