.query--options {
  position: absolute;
  background-color: white;
  z-index: 100;
  padding: 0;
  top: 100%;
  width: 100%;
  box-shadow: 1px 1px 5px gray;
  font-size: 14px;

}

.query--options div {
  color: black;
  -webkit-text-stroke: 0;
  -webkit-text-fill-color: black;
  display: flex;
  padding-left: 5px;
  height: 30px;
  align-items: center;
  width: 100%;
}

.query--options div:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
  /* 100% for some reason leads to the box increasing in size */
  width: 99%;
}

.query--parent {
  display: flex;
  flex-direction: column;
  position: relative;
}