.diff-number::before {
  content: "(";
}

.diff-number::after {
  content: ")";
}

.positive-diff {
  color: green;
}

.negative-diff {
  color: red;
}


.positive-diff::before {
  content: "(+";
}

.zero-diff {
  color: gray;
}

.settings--div {
  text-align: right;
}

.settings--button {
  padding: 10px 35px;
  align-self: top;
}

.settings--container {
  position: relative;
}

.settings--container:hover > button {
  background-color: white;
}

.gear-img {
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 5px;
  position: absolute;
  width: 25px;
}

.arrow-img {
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  position: absolute;
  width: 15px;
}

.settings--options {
  position: absolute;
  right: 0;
  background-color: #f8f9fa;
  border: 1px solid gray;
  text-align: left;
  line-height: 1.7;
  box-shadow: 1px 1px 5px gray;
  padding: 10px 0;
  width: 300px;
  font-size: 14px;
  border-radius: 3px;
}

.settings--options button {
  padding: 5px 12px;
  border: 1px solid gray;
  border-radius: 0;
  font-weight: bold;
  margin-right: -1px;
}

.settings--options button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.settings--options button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.settings--group {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.settings--group > input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.settings--half {
  padding: 0 10px;
}

.settings--top {
  border-bottom: 1px solid gray;
}

.settings--bottom {
  display: flex;
  flex-direction: column;
}

.settings--bottom .value-picker {
  margin-top: 5px;

}

.date-title {
  padding-top: 10px;
}

.value-picker span {
  display: flex;
  margin-bottom: 7px;
}

.bold {
  font-weight: bold;
}

.gray {
  color: rgb(114, 119, 125);
}

.selected-button {
  background-color: #3a4b88;
  color: white;
  cursor: default;
  border: 0.5px solid #3a4b88;
}

.selected-button:hover {
  background-color: #3a4b88;
}

ul {
  padding-left: 0;
  margin-left: 50px;
  margin-top: 5px;
}

h4 {
  font-size: 14px;
  margin-bottom: 10px;
}
