<!DOCTYPE html>

<html>
  <head>
    <title> Club Penguin Music Wiki </title>
    <link rel="stylesheet" href="stylesheets/block.css">
    <link rel="stylesheet" href="stylesheets/editor.css">
    <link rel="stylesheet" href="stylesheets/query.css">
  </head>

  <body>
    <section class="js-editor editor"></section>
    <script src="scripts/query-options.js" type="module"></script>
    <script src="scripts/submit-block.js" type="module"></script>
    <script src="scripts/editor.js" type="module"></script>
  </body>
</html>