<!DOCTYPE html>

<html>
  <head>
    <title> Club Penguin Music Wiki</title>
    {{ extrahead | safe }}
    <link rel="stylesheet" href="../stylesheets/page.css">
  </head>

  <body>
      <div class="header-container">
        <div class="header-aside">
          <img alt="Menu" class="menu-img">
          <div class="logo">
            <a href="/"> Club Penguin Music Wiki</a>
          </div>
        </div>
        <div class="header-content">
          <div class="searchbar">
            <div class="search-outline">
              <img alt="Search" src="images/search.png" class="search-img">
              <input type="text" placeholder="Search Club Penguin Music">
            </div>
            <button>Search</button>
          </div>
          <div class="empty"></div>
          <div class="account">
            <a href="/user-page" class="user-link">
              <img alt="Login" class="ellipsis-img" src="images/ellipsis-h.png">
            </a>
          </div>
        </div>
      </div>
    <section class="content">
      <div class="sidebar hidden">
        <a href="/">Main Page</a>
        <br>
        <a href="/RecentChanges">Recent Changes</a>
      </div>
      <div class="main-content">
        <h1 class="page-title">
          {{ header }}
        </h1>
        <hr>
        {{ content | safe }}
      </div>
    </section>


  <script src="scripts/page.js" type="module">
    </script>
  </body>
</html>