<!DOCTYPE html>

<html>
  <head>
    <title> Club Penguin Music Wiki</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
  </head>

  <body>
    <select class="type-select">
      <option>

      </option>
      <option value="0">
        Song
      </option>
      <option value="1">
        Author
      </option>
      <option value="2">
        Source
      </option>
      <option value="3">
        File
      </option>
      <option value="4">
        Media
      </option>
      <option value="5">
        Feature
      </option>  
      <option value="6">
        Reference
      </option>  
    </select>

    <button class="edit-button"> EDIT </button>

    <button class="create-button"> CREATE NEW </button>

    <div class="id-input"></div>

    <script src="scripts/pre-editor.js" type="module"></script>
  </body>
</html>