<!DOCTYPE html>

<html>
  <head>
    <title> Club Penguin Music Wiki</title>
    <link rel="stylesheet" href="../stylesheets/editor.css">
    <link rel="stylesheet" href="stylesheets/query.css">
  </head>

  <body>
    <select class="type-select">
      <option selected>

      </option>
    </select>

    
    <div class="input-row hidden">
      <div class="id-input"></div>

      <button class="edit-button"> EDIT </button>
  
      <button class="create-button"> CREATE NEW </button>
  
    </div>

    <script src="scripts/pre-editor.js" type="module"></script>
  </body>
</html>