:root {
  --add-color: #b4d2fb;
  --remove-color: #f7e4a6;
}

.diff-viewer {
  display: grid;
  column-gap: 5px;
  row-gap: 10px;
  grid-template-columns: 50% 50%;
}

.diff-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sign {
  
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px;
}

.add-diff, .remove-diff {
  padding: 10px;
  border-width: 1px;
  border-left-width: 3px;
  border-radius: 5px;
  border-style: solid;
  flex-grow: 1;
}

.remove-diff {
  border-color: var(--remove-color);  
}

.remove-span, .add-span {
  font-weight: bold;
}

.remove-span {
  background-color: var(--remove-color);
}

.add-span {
  background-color: var(--add-color);
}

.add-diff {
  border-color: var(--add-color);
}