:root {
  --author-row-height: 20px;
  --author-input-ratio: 0.8;
  --author-row-width: 400px;
}

.editor {
  display: grid;
  grid-template-columns: 100px 800px;
  row-gap: 10px;
}

.authors-div, .name-div {
  display: flex;
  flex-direction: column;
}

.moveable-row {
  position: relative;
  display: grid;
  grid-template-columns: calc(var(--author-input-ratio) * 100%) 10% 10%;
  height: var(--author-row-height)
}

.hq-sources {
  display: grid;
  grid-template-columns: 800px;
  row-gap: 50px;
}

.hq-source {
  display: grid;
  grid-template-columns: 50px 600px 150px;
}

.media-rows, .feature-row {
  display: flex;
  flex-direction: column;
}

.ordered-row {
  display: grid;
  grid-template-columns: 1fr 5fr;
}