.query-options {
  position: absolute;
  background-color: white;
  z-index: 100;
  padding: 0;
}

.query-options div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  -webkit-text-stroke: 0;
  -webkit-text-fill-color: black;
  display: flex;
  padding-left: 5px;
  height: 30px;
  align-items: center;
}

.query-options div:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}