.query-options {
  position: absolute;
  background-color: white;
  z-index: 100;
  top: var(--author-row-height);
  padding-left: 5px;
  width: calc(var(--author-input-ratio) * var(--author-row-width));
}